.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*styling for welcome page*/
.welcome-text {
  /*font-family: 'Germania One';*/
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.welcome-text-2 {
  /*font-family: 'Germania One';*/
  display: flex;
  justify-content: center;
  position: relative;
  left: 70px;
}

.welcome-text-2 a:hover{
  text-decoration: none;
}

.welcome-button {
  /*font-family: 'Germania One';*/
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
  top: 110px;
  right: 400px;
  text-decoration: none;
  border: black;
}

.welcome-button:hover {
  background-color: lightgray;
  text-decoration: none;
}

/*end styling for welcome page*/

.navbar{
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.navbar img{
  margin-right: 8px;
}

.navbar div.sign-out-button{
  margin: 20px 0;
}

.card {
  margin: 30px;
}

.dashboard {
  height: 80vh;
}

.profile_enter_container {
  background-color: lightgrey;
}

.glyphicon   {
  width: 20px;
}

.btn-success {
  margin-right: 35px;
}

/*styling for ProfileEnter.jsx*/
@media (min-width: 1101px) {
  .image-upload {
    display: flex;
    justify-content: flex-end;
    width: 345px;
    position: relative;
    left: 650px;
    bottom: 465px;
  }

  .info {
    position: absolute;
    left: 835px;
    top: -40px;
  }

  .organization-info {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 205px;
    bottom: 550px;
  }

  .profile-button {
    display: flex;
    position: relative;
    left: 600px;
    bottom: 100px;
    background-color: black;
  }
}
@media (max-width: 1100px) {
  .image-upload {
    display: flex;
    justify-content: flex-end;
    width: 345px;
    position: relative;
    left: 450px;
    bottom: 665px;
  }

  .info {
    position: absolute;
    left: 735px;
    top: -40px;
  }

  .organization-info {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 280px;
    bottom: 550px;
  }

  .profile-button {
    display: flex;
    position: relative;
    left: 560px;
    bottom: 500px;
    background-color: black;
  }
}

@media (max-width: 1100px) and (min-width: 768px) {
  .image-upload {
    display: flex;
    justify-content: flex-end;
    width: 345px;
    position: relative;
    left: 380px;
    bottom: 500px;
  }

  .info {
    position: absolute;
    left: 1040px;
    top: -60px;
  }

  .organization-info {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 725px;
    bottom: 590px;
    width: 1470px;
  }

  .profile-button {
    display: flex;
    position: relative;
    left: 260px;
    bottom: 4px;
    background-color: black;
  }
}

@media (max-width: 767px) {
  .image-upload {
    display: flex;
    justify-content: flex-end;
    width: 345px;
    position: relative;
    left: 25px;
    bottom: 0px;
  }

  .info {
    position: absolute;
    left: 8px;
    top: -25px;
  }

  .organization-info {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -5px;
    top: 8px;
  }

  .profile-button {
    display: flex;
    position: relative;
    left: 160px; /* not actually controlling the buttons position...????   */
    bottom: 4px;
    background-color: black;
  }
}

/*styling for AssetToolbar.jsx*/
.asset-toolbar {
  width: 50rem;
  border: 2px solid lightgray;
}

.band-profile {
  width: 50rem;
  border: 2px solid lightgray;
  display: flex;
  right: 30px;
}

.checkbox-inline {
  margin: 10px;
  margin-top: 0;
}

/*band-profile list styling*/
.band-profile-list {
  background-color: lightgrey;
}

.profile-button {
  display: flex;
  position: relative;
  left: 600px;
  bottom: 0px;
  background-color: black;
}

.send-email-window {
  height: 300px;
  width: 80vw;
  z-index: 2;
  position: absolute;
}

.thumbnail-holder {
  display: flex;
  justify-content: center;
  padding: 0 auto;
  height: 100px;
  width: 25vw;
}

.img-thumbnail {
  /*margin: 10px;*/
  height: 100px;
  width: 100px;
}
